.u-align-center {
  text-align: center;
}

.u-align-left {
  text-align: left;
}

.u-align-right {
  text-align: right;
}

.u-bold {
  font-weight: bold;
}

.u-font-large {
  font-size: 1.5em;
}

.u-font-larger {
  font-size: 2em;
}

.u-font-small {
  font-size: .85em;
}

.u-font-smaller {
  font-size: .6em;
}

.u-visible {
  visibility: visible;
}

.u-invisible {
  visibility: hidden;
}

.u-hidden {
  display: none;
}

.u-block {
  display: block;
}

.u-inline {
  display: inline;
}

.u-inline-block {
  display: inline-block;
}

.u-full-width {
  width: 100%;
}

.u-half-width {
  width: 50%;
}
