button, .button {
    background: none;
    border: 2px solid $theme-color;
    padding: 10px 20px;
    border-radius: 3px;
    font-size: 1.1em;
    letter-spacing: 1px;
    font-weight: bold;
    color: $theme-color;
    cursor: pointer;

    &:hover {
        background: $theme-color;
        color: $white;
    }
}

.btn-warning {
  color: $theme-color-alt;
  border-color: $theme-color-alt;

  &:hover {
    background: $theme-color-alt;
  }
}

.btn-small {
  font-size: .85em;
  padding: 5px 10px;
}
