input {
  &[type=text] {
      box-sizing: inherit;
      border: 2px solid $theme-color;
      padding: 5px 10px 3px 10px;
      font-size: 1em;
      line-height: 2;
      color: $theme-color-dark;
      background: none;
      caret-color: $theme-color-dark;

      &:focus {
        outline: none;
        background: $theme-color-light;
      }
  }

}
