$theme-color: #5a5;
$theme-color-light: #dfd;
$theme-color-ultra-light: #eeefee;
$theme-color-dark: #282;

$white: #fff;
$black: #000;
$black-light: #333;
$black-lighter: #555;
$gray-dark: #999;
$gray: #bbb;
$gray-light: #ddd;
$gray-lighter: #eee;
$gray-ultra-light: #fcfcfc;
